<%= form_for(employee) do |f| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :date_of_join %>
    <%= f.date_select :date_of_join %>
  </div>

  <div class="field">
    <%= f.label :designation %>
    <%= f.text_field :designation %>
  </div>

  <div class="field">
    <%= f.label :registration_id %>
    <%= f.text_field :registration_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
